build/*
.DS_Store
output/*
resources/world/admin1CodesASCII.txt
resources/world/admin2Codes.txt
resources/world/allCountries.txt
resources/world/countryInfo.txt
resources/simulation.properties
.gitignore
.vscode/launch.json
resources/simulation.properties
data_processing/graphs/*
